# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "9004759c93eb492e0d107ff5ed6361fb"
name = "Bundle-Discounts"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, read_cart_transforms, write_cart_transforms"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
